:root {
    --background-color: #3e79ca;
    --main-background-color: #aaaaaa;
    --main-text-color: #ffffff;
    --content-text-color: #222222;
    --sub-title-color: #3e79ca;
    --section-background-color: #ffffff;
    --link-hover-color: #70b590;
    --portfolio-title-color: #70b590;
}

/* Reset some default styles and apply a background color */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--main-background-color);
    color: #333;
    /* Default text color */
}

/* Style the header */
header {
    background-color: var(--background-color);
    /* Background for the header */
    color: var(--main-text-color);
    /* White text color for the header */
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 36px;
    color: var(--main-text-color);
}

header p {
    font-size: 18px;
}

/* Style the navigation menu */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    text-align: center;
}

nav li {
    display: inline;
    margin: 10px;
}

@keyframes link-hover {
    from {
        color: var(--main-text-color);
    }

    to {
        color: var(--link-hover-color);
    }
}

@keyframes link-hover-reverse {
    from {
        color: var(--link-hover-color);
    }
    
    to {
        color: var(--main-text-color);
    }
}

nav a {
    text-decoration: none;
    /* White text color for navigation links */
    animation-name: link-hover-reverse;
    animation-duration: 0.3s;
    color: var(--main-text-color);
    font-size: 18px;
}

nav a:hover {
    animation-duration: 0.3s;
    animation-name: link-hover;
    color: var(--link-hover-color);
}

/* Style sections */
/* Original section styles */
section {
    width: 60%;
    padding: 40px;
    background-color: var(--section-background-color);
    margin: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    /* Add a transition for smooth size changes */
    font-size: large;
}

/* Add hover effect to scale sections */
section:hover {
    transform: scale(1.02);
    /* Increase size by 2% on hover */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    /* Change box-shadow on hover */
}

section h2 {
    font-size: 24px;
    color: var(--sub-title-color);
    text-align: center;
}

/* Style images */
img {
    max-width: 100%;
    height: auto;
}

/* General link */
a {
    color: var(--link-hover-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



/* Modify the color of links in the footer */
footer {
    background-color: var(--background-color);
    color: var(--main-text-color);
    text-align: center;
    padding: 20px;
    /* Add padding to the top and bottom */
    margin-top: 20px;
    /* Add margin to the top */
}

footer a {
    color: var(--main-text-color);
}

footer a:hover {
    color: var(--link-hover-color);
}

section {
    color: var(--content-text-color);
}

/* Style the "Contact" section */
section#contact {
    padding: 40px;
    background-color: var(--main-text-color);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

section#contact h2 {
    font-size: 24px;
    color: var(--sub-title-color);
}

/* Style the list in the "Contact" section */
section#contact ul {
    list-style: none;
    padding: 0;
}

/* Style the list items as inline elements */
section#contact li {
    display: inline;
    margin-right: 20px;
    /* Add spacing between items */
}

/* Style the icons for contact items */
section#contact i {
    font-size: 20px;
    margin-right: 5px;
    /* Add spacing between icon and text */
    color: var(--link-hover-color)
}

.contact-header a {
    color: var(--main-text-color);
}

/* Style the list in the "Contact" section */
.contact-header ul {
    list-style: none;
    color: var(--main-text-color)
}

/* Style the list items as inline elements */
.contact-header li {
    display: inline;
    margin-right: 20px;
    /* Add spacing between items */
}

/* Style the icons for contact items */
.contact-header i {
    font-size: 20px;
    margin-right: 5px;
    /* Add spacing between icon and text */
}

.keySkills-list {
    font-size: larger;
}

h3 {
    color: var(--portfolio-title-color);
}

.about-content {
    font-size: larger;
}

.portfolio-grid {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr;
}