@font-face {
	font-family: 'Roboto';
	src: url('Roboto/Black/Roboto-Black.eot'); /* IE9 Compat Modes */
	src: url('Roboto/Black/Roboto-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('Roboto/Black/Roboto-Black.woff') format('woff'), /* Modern Browsers */
		 url('Roboto/Black/Roboto-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('Roboto/Black/Roboto-Black.svg#Roboto-Black') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'Roboto-Light';
	src: url('Roboto/light/Roboto-light.eot'); /* IE9 Compat Modes */
	src: url('Roboto/light/Roboto-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('Roboto/light/Roboto-light.woff') format('woff'), /* Modern Browsers */
		 url('Roboto/light/Roboto-light.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('Roboto/light/Roboto-light.svg#Roboto-Light') format('svg'); /* Legacy iOS */
}


body {
	background-color: #fff9e4;
	color: black;
	font-family: Roboto-Light;
}

h1 {
	text-align: center;
	font-family: Roboto;
	font-size: 50px;
	padding: 0px;
	margin: 0px;
}

.header {
	background-color: white;
	margin: 0px;
	padding: 35px;
	border: solid;
	border-radius: 30px;
}

.layout {
	width: 45%;
}

.layout_section_1 {
	display: inline-block;
}


.layout_section_2 {
	float: right;
}

.main_block {
	background-color: white;
	padding: 0px;
	margin: 0px;
	padding: 10px;
	border: solid white;
	border-radius: 30px;
	text-align: center;
}

.cv_block {
	background-color: white;
	padding: 0px;
	margin: 0px;
	padding: 10px;
	border: solid white;
	border-radius: 30px;
	text-align: center;
	border: solid black 1px;
}